*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


body{
    height: 100%;
    width: 100%;
    margin-top: 14%;
}

 .div1 {
    text-align: center;
}

.container {
    margin: auto;
    margin-top: 1%;
    font-size: 40px;
    width: 500px;
    height: 35rem;
    background: LightGray;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-bottom: 2%;
  }

  .square{
      
      border: 1px solid black;
  }

 